@model mike2.Models.AppServiceProvider

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppServiceProvider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specializations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specializations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoveredAreas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoveredAreas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
